<div class="footer-container-wrapper container-fluid overflow-hidden section" id="contact" #footerWrapper>
  <!-- footer-container -->
  <div class="footer-container container">
    <div class="row">
      <div class="col-md-6 footer-container-first-column">
        <div>
          <h2>Have an idea? Let’s talk about it</h2>
          <a class="d-block" href="">contact@lorem.io</a>
        </div>
      </div>
      <div class="col-md-6 footer-container-second-column">
        <div class="d-flex">
          <ul class="d-flex flex-column">
            <li><a href="">Discord</a></li>
            <li><a href="">Discord</a></li>
          </ul>
          <ul class="d-flex flex-column">
            <li><a href="">Discord</a></li>
            <li><a href="">Discord</a></li>
          </ul>
          <ul class="d-flex flex-column">
            <li><a href="">Discord</a></li>
            <li><a href="">Discord</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
